.page {
  width: auto;
  height: auto;
  background: #000;
  padding: 6% 6%;
}

.head {
  width: auto;
  height: 6.0625rem;
  flex-shrink: 0;
  background: #000;
  padding: 1% 8%;
}

.navbar {
  width: auto;
  height: 4.75rem;
  flex-shrink: 0;
}

.rect1 {
  width: auto;
  height: 4.75rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.text1 {
  color: #D7EF43;
  font-family: Inter;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.text2 {
  color: #FFF;
  font-family: Inter;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.03125rem;
}

.navlinks {
  width: 32rem;
  height: 1.3125rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.text3 {
  color: #FFF;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.text4 {
  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.search {
  width: 5.625rem;
  height: 1.26669rem;
  flex-shrink: 0;
  display: flex;
}

.searchLogo {
  width: 1.17538rem;
  height: 1.26669rem;
  flex-shrink: 0;
}

.searchbar {
  width: 3.9375rem;
  height: 1rem;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.button1 {
  width: 7.9375rem;
  height: 3.25rem;
  flex-shrink: 0;
  background: #D7EF43;
}

.rect2 {
  color: #000;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.element1 {
  height: 34.27838rem;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 8%;
  position: relative;
}

.starBackground {
  width: 37.06094rem;
  height: 22.13088rem;
  position: absolute;
  z-index: 1;
  position: absolute;
  z-index: 1;
}

.ellipse1 {
  width: 35.09544rem;
  height: 11.92225rem;
  transform: rotate(-5deg);
  flex-shrink: 0;
  border-radius: 35.09544rem;
  opacity: 0.6;
  position: absolute;
  z-index: 2;
}


.text5 {
  color: #FFF;
  font-family: Inter;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.0375rem;
  position: absolute;
  z-index: 3;
}

.text6 {
  color: #D7EF43;
  font-family: Inter;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.0375rem;
  position: absolute;
  z-index: 3;
}

.star1 {
  width: 4.25rem;
  height: 3.5625rem;
  flex-shrink: 0;
  z-index: 2;
}

.star2 {
  width: 7.875rem;
  height: 6.5625rem;
  flex-shrink: 0;
  z-index: 2;
}

.mascot {
  width: 29.25rem;
  height: 32.75rem;
  flex-shrink: 0;
}

.text7 {
  width: auto;
  color: #FFF;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0625rem;
  bottom: 0;
  left: 0;
  z-index: 4;
  padding: 8%;
}

.buttonDiv {
  width: 23.75rem;
  height: 3.25rem;
  flex-shrink: 0;
  padding: 8%;
  display: flex;
  justify-content: space-between;
}

.button2 {
  width: 8.75rem;
  height: 3.25rem;
  flex-shrink: 0;
  background: #D7EF43;
}

.explore {
  color: #000;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.button3 {
  width: 13.1875rem;
  height: 3.25rem;
  flex-shrink: 0;
  border: 1px solid #FFF;
  background: #000;
}

.group1 {
  width: 8.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.createNow {
  color: #FFF;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.arrow {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
}

.vector2 {
  width: auto;
  height: 5.8125rem;
  flex-shrink: 0;
  padding: 8%;
}

.stats {
  width: auto;
  height: 3.375rem;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: -70px;
  margin-left: 30px;
}

.art {
  width: 5.26631rem;
  height: 3.375rem;
  flex-shrink: 0;
}

.users {
  width: 4.98913rem;
  height: 3.375rem;
  flex-shrink: 0;
}

.auctions {
  width: 5.12769rem;
  height: 3.375rem;
  flex-shrink: 0;
}

.statsHead {
  width: 4.85056rem;
  color: #FFF;
  font-family: Roboto;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.0625rem;
}

.statsSub {
  width: 5.26631rem;
  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0625rem;
}

/* .coins {
  width: 34.375rem;
  height: 3.05406rem;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
} */

.ethereum {
  width: 7.4375rem;
  height: 2.5455rem;
  flex-shrink: 0;
}

.bitcoin {
  width: 6.125rem;
  height: 2.28844rem;
  flex-shrink: 0;
}

.binance {
  width: 6.625rem;
  height: 2.5455rem;
  flex-shrink: 0;
}

.coinsLogo {
  width: 1.41894rem;
  height: 1.90706rem;
  flex-shrink: 0;
}

.coinsHead {
  width: 5.0625rem;
  height: 1.27138rem;
  flex-shrink: 0;
  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.0625rem;
}

.join {
  width: auto;
  height: 35.125rem;
  flex-shrink: 0;
  display: flex;
  padding-left: 8%;
  padding-top: 4%;
  /* justify-content: space-between; */
  flex-wrap: nowrap;
  position: relative;
}

.textDiv2 {
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.text8 {
  color: #FFF;
  font-family: Inter;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.text9 {
  color: #D7EF43;
  font-family: Inter;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.sculpture {
  width: 16.75rem;
  height: 23.9375rem;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text10 {
  color: rgba(255, 255, 255, 0.60);
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0625rem;
}

.text11 {
  width: 39.1875rem;
  color: #FFF;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0625rem;
  margin-left: 100px;
  margin-top: 100px;
}

.joinMain {
  width: 41.5625rem;
  height: 9.6875rem;
  flex-shrink: 0;
  display: flex;
  margin-top: 60px;
}

.vector4 {
  width: 7.125rem;
  height: 7.016rem;
  flex-shrink: 0;
  stroke-width: 5px;
  stroke: #D7EF43;
  margin-left: -70px;
}

.joinText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 60px;
  margin-left: 60px;

}

.text12 {
  width: 32.0625rem;
  color: #FFF;
  font-family: Inter;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.text13 {
  width: 32.0625rem;
  color: #D7EF43;
  font-family: Inter;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0375rem;
  margin-left: -300px;
  margin-top: 50px;
}

.vector3 {
  width: auto;
  height: 6.90631rem;
  flex-shrink: 0;
  padding: 8%;
  margin-top: 100px;
  margin-left: 20px;
}

.ranks {
  width: auto;
  height: 3.375rem;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  margin-left: 380px;
}

.text14 {
  width: 26.5rem;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.text15 {
  width: 26.5rem;
  color: #D7EF43;
  font-family: Inter;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.sort {
  width: 50rem;
  height: 3.1875rem;
  flex-shrink: 0;
  padding: 8%;
  margin-left: 320px;
}

.navlink2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

.selectedButton {
  background: #D7EF43;
  display: flex;
  width: 8.8125rem;
  height: 3.1875rem;
  padding: 1rem 2.125rem 0.9375rem 2.0625rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.00638rem;
}

.unselectedButton {
  border: 1px solid #FFF;
  background: #000;
  display: flex;
  width: 8.8125rem;
  height: 3.1875rem;
  padding: 1rem 2.3125rem 0.9375rem 2.25rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #FFF;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.00638rem;
}

.button4 {
  background: #D7EF43;
  display: inline-flex;
  padding: 1rem 3.8125rem 0.9375rem 3.8125rem;
  justify-content: center;
  align-items: center;
  margin-left: 630px;
}

.viewMore {
  color: #000;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.00638rem;
}

/* Monkeys */

.monkeys {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.9375rem;
}

.frame8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.frame6 {
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
}

.card {
  border-radius: 0.5rem;
  background: #FFF;
  display: flex;
  width: 17.8125rem;
  height: 23.5625rem;
  padding: 0.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}

.imageDiv {
  display: flex;
  height: 16.375rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
}

.imagecss {
  border-radius: 0.5rem;
  width: 16.5625rem;
  height: 16.375rem;
}

.frame2 {
  display: flex;
  align-items: flex-end;
  gap: 8.8125rem;
  flex: 1 0 0;
  align-self: stretch;
}

.frame1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.imgtext {
  color: #242323;
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.125rem;
  /* 188.889% */
  letter-spacing: -0.0225rem;
}

.frame9 {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.ETH {
  width: 1.3125rem;
  height: 1.3125rem;
}

.imgtext2 {
  color: #815EE3;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.015rem;
}

.line1 {
  width: 16.5625rem;
  height: 0.0625rem;
  background: #EDECEC;
}

.frame3 {
  display: flex;
  height: 1.4375rem;
  align-items: flex-end;
  gap: 8.1875rem;
  flex-shrink: 0;
  align-self: stretch;
}

.frame3 {
  display: flex;
  height: 1.4375rem;
  align-items: flex-end;
  gap: 8.1875rem;
  flex-shrink: 0;
  align-self: stretch;
}

.frame1 {
  border-radius: 4.125rem;
  background: #D7EF43;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.frame4 {
  display: flex;
  padding: 0.25rem;
  align-items: flex-start;
  gap: 0.625rem;
}

.frame5 {
  display: flex;
  padding: 0.25rem;
  align-items: flex-start;
  gap: 0.625rem;
}

.commontext {
  color: #000;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.015rem;
}

/* Vector */

.vector1 {
  width: auto;
  height: 6.90631rem;
  flex-shrink: 0;
  padding: 8%;
}

/* Footer */

.footer {
  width: auto;
  height: 15.49988rem;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
}

.email {
  width: 80.1875rem;
  height: 15.49988rem;
  flex-shrink: 0;
  align-items: start;
}

.text16 {
  color: #FFF;
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.012rem;
}

.text17 {
  width: 26.1875rem;
  color: #FFF;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0625rem;
}

.rect4 {
  border: 1px solid #FFF;
  width: 19.875rem;
  height: 3.4375rem;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address {
  color: #FFF;
  font-family: Roboto;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0625rem;
  opacity: 0.6;
}

.button5 {
  background: #D7EF43;
  width: 5.75rem;
  height: 3.4375rem;
  flex-shrink: 0;
  color: #000;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.0375rem;
}

.linksDiv {
  width: 19.5625rem;
  height: 5.9375rem;
  flex-shrink: 0;
}

.linkHeading {
  color: #FFF;
  font-family: Roboto;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.012rem;
}

.quickLink {
  color: #FFF;
  font-family: Roboto;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.0625rem;
}

.socialsBar {
  width: 20rem;
  height: 1.875rem;
  flex-shrink: 0;
  display: flex;
}

.socials {
  width: 1.875rem;
  height: 1.875rem;
  flex-shrink: 0;
}